{% extends "kernel/pagelet.twig" %}
{% import "macro_ficha_alumno.twig" as ficha_alumno %}
{% block contenido %}
	{{ ficha_alumno.render_menu(this.data.menu_reportes, this.data.categoria_actual, this.data.reporte_actual) }}


	<div id="reporte_contenido">
		{% if this.data.periodo_integrador.FECHA_INICIO %}
			{% if this.data.datos.acepto_term_y_cond %}
				<strong style="color:green; font-style:italic">El alummo aceptó los términos y condiciones establecidos en la Resolución de Decanato 050/2020 para la modalidad de evaluación virtual</strong>
			{% else %}
				<strong style="color:red; font-style:italic">El alummo NO aceptó los términos y condiciones establecidos en la Resolución de Decanato 050/2020 para la modalidad de evaluación virtual</strong>
			{% endif %}
		{% endif %}
		
		<h3>{{ 'ficha_alumno.rep_datos_personales' | trans }}</h3>

		{% if (this.data.datos) %}
		<ul class="ficha_alumno_ul">
			
			<li><strong>{{ 'ficha_alumno.anio_ingreso' | trans | capitalize }}:</strong> {{this.data.datos.anio_ingreso}}</li>
			<li><strong>{{ 'ficha_alumno.nro_inscripcion' | trans | capitalize }}:</strong> {{this.data.datos.nro_inscripcion}}</li>
			
			<li><strong>{{ 'ficha_alumno.apellido_nombres' | trans | capitalize }}:</strong> {{this.data.datos.apellido}}, {{this.data.datos.nombres}}</li>
			<li><strong>{{ 'ficha_alumno.tipo_numero_doc' | trans | capitalize }}:</strong> {{this.data.datos.documento_tipo}} {{this.data.datos.documento_numero}}</li>
			<li><strong>{{ 'ficha_alumno.fecha_inscripcion' | trans | capitalize }}:</strong> {{ficha_alumno.formatear_fecha(this.data.datos.fecha_inscripcion)}}</li>
			<li><strong>{{ 'ficha_alumno.titulo_secundario' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.titulo_secundario)}}</li>
			<li><strong>{{ 'ficha_alumno.ultima_residencia_declarada' | trans | capitalize }}:</strong></li>
			<li><strong>{{ 'ficha_alumno.fecha_actualizacion' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domicilio_fecha_actualiza)}}</li>
			<li><strong>{{ 'ficha_alumno.calle' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domcilio_calle)}}</li>
			<li><strong>{{ 'ficha_alumno.numero' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domicilio_nro)}}</li>
			<li><strong>{{ 'ficha_alumno.piso' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domicilio_piso)}}</li>
			<li><strong>{{ 'ficha_alumno.departamento' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domicilio_dpto)}}</li>
			<li><strong>{{ 'ficha_alumno.unidad' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.domicilio_unidad)}}</li>
			<li><strong>{{ 'ficha_alumno.telefono_linea' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.telefono_linea)}} </li>
			<li><strong>{{ 'ficha_alumno.telefono_celular' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.cel_nro)}}</li>
			<li><strong>{{ 'ficha_alumno.email' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.email)}}</li>
			<li><strong>{{ 'ficha_alumno.localidad' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.localidad)}}</li>
			<li><strong>{{ 'ficha_alumno.provincia' | trans | capitalize }}:</strong> {{ficha_alumno.mostrar(this.data.datos.pcia)}}</li>
			<li><strong>{{ 'ficha_alumno.nacionalidad' | trans | capitalize }}:</strong> {{this.data.datos.nacionalidad}}</li>
			<li><strong>{{ 'ficha_alumno.fecha_nac' | trans | capitalize }}:</strong> {{this.data.datos.fecha_nac}}</li>
			<li><strong>{{ 'ficha_alumno.localidad_nac' | trans }}:</strong> {{this.data.datos.localidad_nac}} ({{this.data.datos.partido_nac}} - {{this.data.datos.provincia_nac}} - {{this.data.datos.pais_nac}})</li>
			<li><strong>{{ 'ficha_alumno.colegio_sec' | trans }}:</strong> {{this.data.datos.colegio_secundario}} ({{this.data.datos.localidad_colegio}} - {{this.data.datos.partido_colegio}} - {{this.data.datos.provincia_colegio}} - {{this.data.datos.pais_colegio}})</li>
			<li><strong>{{ 'ficha_alumno.foto_dni' | trans }}:</strong> <div class="pagelet" style="display: table; border: ridge;">
																		<img src={{this.data.datos.foto_dni}}></div></li>
		</ul>
		{% endif %}
	</div>
{% endblock %}
