{% extends "kernel/pagelet.twig" %}
{% block contenido %}
    <div class="titulo_operacion">
        <h2 class="clearfix">
            <button class='btn btn-primary btn-small pull-left js-history-back' alt="Volver"><span class="icon-chevron-left icon-white"></span></button>
{#            <button class='btn btn-primary btn-small pull-left' alt="Volver"><span class="icon-chevron-left icon-white"></span></button>#}
                <span class="pull-left">{{"mixes_modificacion"|trans|capitalize}}</span>
        </h2>
    </div>
    
    {% if (this.data.mensaje_error != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje_error}}', {tipo: 'alert-error'})</script>
    {% endif %}

    <h3 class="titulo-carrera">
        <div data-link="detalle_{{this.data.CARRERA}}" aria-controls="detalle_{{this.data.CARRERA}}">
            Carrera: {{this.data.carrera_nombre}}
        </div>
    </h3>

    {% if this.data.datos %}
        {% for dato in this.data.datos %}
            <form name="del_materia" method="post" action="{{this.data.form_url_del}}">
                <table class="table table-striped table-condensed" tabindex="0" summary="Tabla de mixes">
                    <tr>
                        <td colspan="2"><h4 style="text-align:center" class="mix">Año de cursada: {{ dato.anio }}  Mix: {{dato.mix}} </h4>
                    </tr>   
                    <input type="hidden" name="carrera" value="{{this.data.carrera}}">
                    <input type="hidden" name="anio" value="{{dato.anio}}">
                    <input type="hidden" name="mix" value="{{dato.mix}}">

                    {% for mix in dato.materias %}
                        <tr>
                            <td>{{mix.MATERIA_NOMBRE}} ({{mix.MATERIA}})</td>
                            <td><button class='btn btn-mini btn-warning pull-right' name="materia_del" value="{{mix.MATERIA}}" type="submit"><i class='icon-remove'></i></button></td>
                        </tr>
                    {% endfor %}
                </table>
                {% set vista_form = this.get_vista_form() %}
            </form>
            <div class="mix_agregar_materia">
                <form name="add_materia" method="post" action="{{this.data.form_url_add}}">
                    <input type="hidden" name="carrera" value="{{this.data.carrera}}">
                    <input type="hidden" name="anio" value="{{dato.anio}}">
                    <input type="hidden" name="mix" value="{{dato.mix}}">
                    <select name="materia_add">
                        <option value="">-- Seleccione una materia --</option>
                        {% for materia in this.data.materias_sin_mix %}
                            <option value="{{materia.MATERIA}}">{{materia.NOMBRE_MATERIA}} ({{materia.MATERIA}})</option>
                        {% endfor %}
                    </select>
                    <button class="btn btn-info btn-lg" type="submit">Agregar</button>                    
                </form>
            </div>
        {% endfor %}
        
    {% else %}
        <div class="alert">
            {{"mixes.sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}
