{% extends "kernel/pagelet.twig" %}
{% block contenido %}

<div class="js-barra-autocalcular" style="display: none;">
	<form id='precalcular_form' class="form-inline">
        <fieldset>
			<legend>Autocalcular</legend>

            {# <label class="acchide" for="preset_campo">Seleccione campo a autocalcular</label> #}
            {# <select id="preset_campo" title='Campo para autocalcular'>
                <option value='nota' selected>{{ "nota"|trans|capitalize }}</option>
                <option value='condicion'>{{ "condicion"|trans|capitalize }}</option>
            </select> #}
            <!-- asistencia / nota -->
            {# <label class="hide acchide preset_label" id="lasist" for="autonota">Complete con porcentaje</label>
            <label class="acchide preset_label" id="lnota" for="autonota">Nota: de 0 a 10</label>
            <input id="autonota" class='preset_valor input-small' title='carga la nota' type='text' value='' /> 
            <!-- fecha -->
            <label class="hide acchide fecha preset_label" id="lfecha" for="autofecha">Formato: DD/MM/YYYY</label>
            <input id="autofecha" class='preset_valor input-small' {{ (this.es_mobile) ? 'readonly' : ''}}
            type='text' value='' style="display: none;" />  {# escondido por defecto 
            <!-- condicion -->
            <label class="hide acchide condicion preset_label" id="lcondicion" for="autocondicion">--Seleccione--</label>
            <select id="autocondicion" class='preset_valor' style="display: none;">  {# escondido por defecto 
                <option value=''>
                --
                </option>
                {% for condicion in this.data.condiciones %}
                    {% if condicion.COND_REGULARIDAD != 6 %}
                    <option value='{{ condicion.COND_REGULARIDAD }}'>
                    {{ condicion.DESCRIPCION }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select> #}
            <label role="menucheckbox" for='preset_solo_vacio_autocalcular' class="checkbox">
                <input id='preset_solo_vacio_autocalcular' type="checkbox" checked="checked"/>{{ "solo_valores_vacios"|trans|capitalize }}
            </label>
			<button id="btn_autocalcular" class="btn btn-small"><span class="icon-edit"></span> {{ "autocalcular"|trans|capitalize }}</button>
            {# <input type="reset" value="{{ "deshacer"|trans|capitalize }}" class="btn btn-small" id='preset_undo' disabled="disabled" /> #}
		</fieldset>
		<div role='alert' class="alert">
			<p></p> 
			<p><strong>Detalle:</strong></p>
			<p><span class="listo">Verde: </span> {{"alumno_con_nota"|trans|capitalize }}</p>
			<p><span class="abandono">Rojo: </span>{{"alumno_abandono"|trans|capitalize }}</p>
			<p><span class="va-integ">Celeste: </span>{{"alumno_falta_integ"|trans|capitalize }}</p>
			<p><span class="va-recup">Amarillo: </span>{{"alumno_falta_recup"|trans|capitalize }}</p>
			<p><span class="falta-tp">Gris: </span>{{"alumno_falta_tp"|trans|capitalize }}</p>
		</div>
	</form>
    <p class="autoerror" id="msj-autoerror">
    </p>
</div>

{% endblock %}
