{% extends "kernel/pagelet.twig" %}
{% block contenido %}
    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"fechas_parciales_propuesta"|trans|capitalize}}
			</span>

			<span class="pull-right">
				{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}

	
    {% if(this.data.periodos_evaluacion) %}
        {% for periodo in this.data.periodos_evaluacion %}
            <input type="hidden" id="inicio_periodo_{{periodo.ORDEN}}" value="{{periodo.FECHA_INICIO}}">
            <input type="hidden" id="fin_periodo_{{periodo.ORDEN}}" value="{{periodo.FECHA_FIN}}">
        {% endfor %}

        {% if(this.data.datos) %}

            <div role='alert' class="alert">
                <p>Se habilita a solicitar una misma fecha para Integrador y para Recuperatorio Global.             
			</div>

            {#  Mensaje si se guardo con exito      #}
            {% if (this.data.mensaje != '') %} 
                <script>kernel.ui.show_mensaje('{{this.data.mensaje}}')</script>
            {% endif %}

            {#  Mensaje si hubo error al guardar      #}
            {% if (this.data.mensaje_error != '') %}
                <script>kernel.ui.show_mensaje('{{this.data.mensaje_error}}', {tipo: 'alert-error'})</script>
                <div role='alert' class="alert alert-error">{{this.data.mensaje_error}}</div>
            {% endif %}

            <div>
                {#  Le paso los datos para armar los calendarios al js  #}
                <input type="hidden" id="materias" value="{{this.data.datos_json}}">
                <input type="hidden" id="feriados" value="{{this.data.dias_no_laborales}}">
                {% for materia in this.data.datos %}

                    <div class="link-js" data-link="detalle_{{materia.MATERIA}}" aria-controls="detalle_{{materia.MATERIA}}">
                        <h3 class="titulo-materia"> {{ materia.MATERIA_NOMBRE }} ({{ materia.MATERIA }})
                            <span class="toggle icon-white icon-chevron-down" style="float: right; color: white"></span> 
                            <span style="float: right;font-size: 10px;">Ver / Ocultar fechas por comisión</span>
                        </h3>
                    </div>

                    {#     Parte general para toda la materia --- Aplica a todas las comisiones por igual               #}
                    <div>
                        <form name="materia_seleccionada" id="materia_seleccionada_{{materia.MATERIA}}" method="post" action="{{this.data.form_url_materia}}">
                            <input type="hidden" name="materia" value="{{materia.MATERIA}}">
                            <input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
                            <input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">
                            <table class="table table-striped table-condensed" tabindex="0">
                                {% set hoy = "now"|date("Y-m-d") %}
                                {# Hoy: {{hoy}}
                                Periodo: {{this.data.priodo_solicitud_fechas.FECHA_INICIO}} - {{this.data.priodo_solicitud_fechas.FECHA_FIN}} #}
                                {% if ((this.data.priodo_solicitud_fechas.FECHA_INICIO <= hoy) and (hoy <= this.data.priodo_solicitud_fechas.FECHA_FIN)) %}

									<tr>
										<td scope="row" colspan="3">Días de dictado: 
											{% for dia in materia.DIAS %}
												{{ _self.get_nombre_dia(dia.DIA_SEMANA)}}
											{% endfor %}
										</td> 
									</tr>
									<tr>
										<td><div>1er. Parcial:</div>
											<input type="text" id="datepicker_materia_promo1_{{materia.MATERIA}}" name="datepicker_materia_promo1_{{materia.MATERIA}}" 
													class="editable_materia" onchange="verifica_fechas_materia(this)" />
										</td>  
										<td><div>2do. Parcial:</div> 
											<input type="text" id="datepicker_materia_promo2_{{materia.MATERIA}}" name="datepicker_materia_promo2_{{materia.MATERIA}}" 
												class="editable_materia" onchange="verifica_fechas_materia(this)" />
										</td>                               
										<td>
											<div>Integrador / Recuperatorio Global:</div>
											<input type="text" id="datepicker_materia_integ_{{materia.MATERIA}}" name="datepicker_materia_integ_{{materia.MATERIA}}" 
													class="editable_materia" onchange="verifica_fechas_materia(this)"/>	</div>
										</td>                               
									</tr>
                                    <tr>
                                        <td colspan="3">Observaciones: 
											<textarea type="text" id="observaciones_{{materia.MATERIA}}" name="observaciones_{{materia.MATERIA}}" style="width:100%"
													maxlength="255" >{{materia.OBSERVACIONES}}</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td scope="row" colspan="3">
                                            <div style="text-align: right">
                                                <button class="btn btn-info btn-lg" type="submit" id="boton_grabar_materia" style="align-self:center;font-size:12px;" 
                                                        title="Guardar y Aplicar a todas las comisiones las mismas fechas (Sólo graba las fechas que se ingresen, y aplica a las comisiones e instancias que no tengan ya aceptada y/o asignada una fecha en particular).">
                                                    Grabar</button>
                                            </div>
                                        </td>
                                    </tr>                        
                                {% endif %} 
                            </table>
                        </form>
                    </div>

                    {#     Sección especí­fica para detallar cada comisión individualmente               #}            
                    {% if (materia.COMISIONES) %}
                        <div id="detalle_{{materia.MATERIA}}" class="detalle" aria-live="assertive" style="display: block;">
                            {% for comision in materia.COMISIONES %}

                                    <form name="comision_seleccionada_{{comision.COMISION}}" id="comision_seleccionada_{{comision.COMISION}}" method="post" action="{{this.data.form_url_comision}}">
                                        <input type="hidden" id="{{comision.COMISION}}" name="comision" value="{{comision.COMISION}}">
                                        <input type="hidden" name="dias_clase_{{comision.COMISION}}" value="{{comision.DIAS_CLASE_JSON}}">
                                        <input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
                                        <input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">

                                        <h4 class="comision">Comisión: {{comision.COMISION_NOMBRE}} ({{comision.COMISION}})</h4>
                                            <div>
                                                {% if (comision.CARRERA) %}
                                                    Carrera: {{comision.CARRERA}} -
                                                {% endif %}
                                                Dí­as de dictado: 
                                                {% for dias in comision.DIAS_CLASE %}
													{{ _self.get_nombre_dia(dias.DIA_SEMANA)}} ({{dias.HS_COMIENZO_CLASE}} a {{dias.HS_FINALIZ_CLASE}}) -
                                                {% endfor %}
                                                {% if (comision.TURNO) %}
                                                    Turno: {{ _self.get_nombre_turno(comision.TURNO)}}
                                                {% endif %}                                            
                                            </div>
                                            <table class="table table-striped table-condensed" tabindex="0">
												<tr>
													<td><div>1er. Parcial:</div>
														<input	type="text" id="promo1_{{comision.COMISION}}" readonly class="no_editable_pendiente"/>
													</td>  
													<td><div>2do. Parcial:</div>
														<input	type="text" id="promo2_{{comision.COMISION}}" readonly class="no_editable_pendiente"/>
													</td>
													<td><div>Recuperatorio Global:</div>
														<input	type="text" id="recup_{{comision.COMISION}}" readonly class="no_editable_pendiente"/>
													</td>                               
													<td><div>Integrador:</div>
														<input	type="text" id="integ_{{comision.COMISION}}" readonly class="no_editable_pendiente"/>
													</td>                               
												</tr>
                                            </table>
                                    </form>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            <div role="alert" class="alert">
                {{"fechas_parciales_propuesta.sin_resultados"|trans|capitalize}}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}


{% macro get_nombre_turno(turno) %}
    {% if turno == 'T' %}
        {{'Tarde'}}
    {% endif %}
    {% if turno == 'N' %}
        {{'Noche'}}
    {% endif %}
    {% if turno == 'M' %}
        {{'Mañana'}}
    {% endif %}
{% endmacro %}


{% macro get_nombre_dia(dia) %}
	{% if dia == '0' %}
        {{'Domingo'}}
    {% endif %}
    {% if dia == '1' %}
        {{'Lunes'}}
    {% endif %}
    {% if dia == '2' %}
        {{'Martes'}}
    {% endif %}	
    {% if dia == '3' %}
        {{'Miércoles'}}
    {% endif %}	
    {% if dia == '4' %}
        {{'Jueves'}}
    {% endif %}	
    {% if dia == '5' %}
        {{'Viernes'}}
    {% endif %}	
    {% if dia == '6' %}
        {{'Sábado'}}
    {% endif %}	
{% endmacro %}
