{% extends "kernel/pagelet.twig" %}
{% block contenido %}
    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"asignacion_mat_prom_dir"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
	
	{# Mensaje si se guardó con éxito
    {% if (this.data.mensaje != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje}}')</script>
    {% endif %} #}
	
	{#  Mensaje si hubo error al guardar      #}
    {% if (this.data.mensaje_error != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje_error}}', {tipo: 'alert-error'})</script>
        <div role='alert' class="alert alert-error">{{this.data.mensaje_error}}</div>
    {% endif %}


    {% if(this.data.materias) %}
		<form name="materias_promo_directa" method="post" action="{{this.data.form_url}}">
			<input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
			<input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">
			<table class="table table-striped table-bordered table-condensed" summary="Tabla de materias">
				<thead>
					<tr>
						<th>Código Materia</th>
						<th>Materia</th>
						<th>Prom. Directa</th>
					</tr> 
				</thead>
				<tbody>
					{% for materia in this.data.materias %}
						<tr>
							<td> {{ materia.MATERIA }} </td>
							<td> {{ materia.NOMBRE_MATERIA }} </td>
							<td> 
								<input type='checkbox' id='materias[{{ materia.MATERIA }}][PROMO_DIRECTA]'
									name='materias[{{ materia.MATERIA }}][PROMO_DIRECTA]'  
													{{ (materia.PROMO_DIRECTA == 'S') ? 'checked' : '' }}
								/>
						</td>
						</tr>
					{% endfor %}
					<tr>
						<td scope="row" colspan="3">
							<div style="text-align: right">
								<button class="btn btn-info btn-lg" type="submit" id="boton_guardar">Guardar</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>

    {% else %}
        <div role="alert" class="alert">
            {{"sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}
