{% extends "kernel/pagelet.twig" %}
{% block contenido %}

<!-- FILTRO -->
		{% set vista_form = this.get_vista_form() %}
		{{ vista_form.render_encabezado() | raw }}

		{{ vista_form.render_cuerpo() | raw }}
		{{ vista_form.render_cierre() | raw }}

		<div class="titulo_operacion">
				<span class="pull-right">
				{{ vista_form.render_acciones() | raw }}
				</span>
                    {% if this.data.modo == 'planilla' %}
                        {% if this.data.planilla %}
				<a id="boton_pdf" class="btn no-ajax" target="_blank" href="{{this.data.url.generar_pdf}}"><span class="acchide">{{'descargar_pdf'|trans|capitalize}}</span><span class="g3w-icono-pdf"></span></a>
                        {% endif %}            
                    {% endif %}            

                </div>

{{this.data.modo}}
    {% if this.data.modo == 'planilla' %}
	<!-- ENCABEZADO --> 

	{% if this.data.planilla %}
		{% for ENCABEZADO in this.data.planilla %}                  
			<table class="table table-condensed table-bordered" summary="Planilla de asistencias">
				<tr>
					<th scope="row" id="info_materia"><strong>{{"info_materia.materia" | trans | capitalize}}:</strong></td>
					<td headers="info_materia">({{ENCABEZADO.MATERIA}}) {{ENCABEZADO.MATERIA_NOMBRE}}</td>
				</tr>
				<tr>
					<th scope="row" id="info_docente"><strong>{{"docente_comision" | trans | capitalize}}:</strong></th>
					<td headers="info_docente" colspan="3">{{ENCABEZADO.DOCENTES}}</td>			</tr>
				<tr>
					<th scope="row" id="info_turno"><strong>{{"turno" | trans | capitalize}}:</strong></th>
					<td headers="info_turno">
                                        {% if (ENCABEZADO.TURNO) %}
                                            {{("asistencias.turno_" ~ ENCABEZADO.TURNO) |trans|capitalize}}
                                        {% else %}
                                            {{'ficha_alumno.sin_informacion'|trans |capitalize}}
                                        {% endif %}                                             
                                        </td>				
				</tr>
				<tr>
					<th scope="row" id="info_anio"><strong>{{"anio_academico" | trans | capitalize}}:</strong> </th>
					<td headers="info_anio">{{ENCABEZADO.ANIO_ACADEMICO}}</td>
				</tr>			
				<tr>
					<th scope="row" id="info_periodo"><strong>{{"periodo_lectivo" | trans | capitalize}}:</strong></th>
					<td headers="info_periodo">{{ENCABEZADO.PERIODO_LECTIVO}}</td>
				</tr>	
				<tr>
					<th scope="row" id="info_catedra"><strong>{{"catedra" | trans | capitalize}}:</strong></th>
					<td headers="info_catedra">
                                            	{% if (ENCABEZADO.CATEDRA) %}
                                                        ({{ENCABEZADO.CATEDRA}})
                                                {% else %}
                                                        {{'ficha_alumno.sin_informacion'|trans |capitalize}}
                                                {% endif %}
                                        </td>	
				</tr>	
				<tr>
					<th scope="row" id="info_comision"><strong>{{"comision" | trans | capitalize}}:</strong></th>
					<td headers="info_comision">({{ENCABEZADO.COMISION}}) {{ENCABEZADO.COMISION_NOMBRE}}</td>				
				</tr>	
				<tr>
					<th scope="row" id="info_subcomision"><strong>{{"subcomision" | trans | capitalize}}:</strong></th>
					<td headers="info_subcomision">                                           
                                            {% if (ENCABEZADO.SUBCOMISION) %}
                                                ({{ENCABEZADO.SUBCOMISION}}) {{ENCABEZADO.SUB_NOMBRE}}
                                            {% else %}
                                                {{'ficha_alumno.sin_informacion'|trans |capitalize}}
                                            {% endif %}
                                        </td>
				</tr>
				<tr>
					<th scope="row" id="info_aula"><strong>{{"dia, hora, edificio y aula" | trans | capitalize}}:</strong></th>
					<td headers="info_aula" colspan="3">
                                            {% if (ENCABEZADO.AULA) %}
                                                {{ENCABEZADO.AULA}}
                                            {% else %}
                                                {{'ficha_alumno.sin_informacion'|trans |capitalize}}
                                            {% endif %}                                            
                                        </td>
				</tr>
			</table>

	<!-- CUERPO --> 
				<table class="table table-striped table-bordered table-condensed">
				<thead>
				<tr>
					<th scope="col" id="nro">{{"número" | trans | capitalize}}</th>
					<th scope="col" id="legajo">{{"legajo" | trans | capitalize}}</th>
					<th scope="col" id="apellido_y_nombre">{{"apellido_y_nombre" | trans | capitalize}}</th>
					<th scope="col" id="inasistencias">{{"inasistencias acumuladas" | trans | capitalize}}</th>
                                        
                                        {% for i in 1.. this.data.filtro_cantidad %}
                                            <th scope="col" id="fecha~i">{{ ENCABEZADO.FECHAS[i] }}</th>
                                        {% endfor %}
				</tr>
				</thead>
				<tbody>
					{% for alumno in ENCABEZADO.ALUMNOS %}
					<tr>
						<td headers="nro">{{alumno.NRO|raw}}</td>
						<td headers="legajo">{{alumno.LEGAJO|raw}}</td>
						<td headers="apellido_y_nombre">{{alumno.ALUMNO|raw}}</td>
						<td headers="inasistencias">{{alumno.ACUMULADAS|raw}}</td>
                                                {% for i in 1.. this.data.filtro_cantidad%}
                                                    <th scope="col" id="fecha~i"> </th>
                                                {% endfor %}
					</tr>
					{% endfor %}
				</tbody>	
				</table>
		{% endfor %}
	{% else %}
		<div role="alert" class="alert">
			{{"asistencias.planilla.no_hay_datos"|trans|capitalize}}
		</div>
	{% endif %}
{% endif %}
{% endblock %}