{% extends "kernel/pagelet.twig" %}
{% block contenido %}

{% if this.data %}

<button aria-live="polite" class="btn btn-small" id="js-toggle-all" data-toggle-texto="{{'mostrar_informacion_parcial_todo'|trans|capitalize}}">{{'esconder_informacion_parcial_todo'|trans|capitalize}}</button>

<ul class='lista'>
    {% for materia in this.data %}
	<li class='materia'>
	    <div class='materia-nombre js-materia-cabecera' tabindex='0'>{{ materia.NOMBRE }} ({{ materia.MATERIA }})</div>
                <div class="js-materia-contenido">
			<input type="hidden" name="coordinador" value="{{materia.COORDINADOR}}">
                        {% for orden, comision in materia.COMISIONES %}
			<ul class='lista-comisiones'>
				<li id='{{ comision.URL }}'
					data-comision-id='{{ comision.URL }}' 
					class='comision'
                                        tabindex='0'
				>
                                <div class='comision-nombre clearfix'>
                                    <input type="hidden" name="resultado" value="{{materia.COORDINADOR==this.data.docente}}">
                                    {% if comision.EVALUACIONES %}<span class="js-toggle_icon abierto"></span>{% endif %}
                                    <strong>Comisi&oacute;n:</strong> {{ comision.NOMBRE }} - 
                                    <strong>Per&iacute;odo Lectivo:</strong> {{comision.PERIODO_LECTIVO}} - 
                                    <strong>Turno:</strong> {{comision.TURNO}} - 
                                    <strong>Inscriptos:</strong> {{ comision.CANT_INSCRIPTOS }} 
                                    {{ _self.boton_crear(not comision.COMPLETA and materia.COORDINADOR==this.data.docente) }}
				</div>			
				<ul class='parciales-comision unstyled' orden='{{orden}}'>
				{% if comision.EVALUACIONES %}
					{% for evaluacion in comision.EVALUACIONES %}
						{% include 'lista_materias/parcial.twig' with {
							'nombre': evaluacion.NOMBRE, 
							'tipo': evaluacion.EVALUACION,
							'porcentaje': evaluacion.PORCENTAJE_CARGA,
							'cant_inscriptos': evaluacion.CANT_INSCRIPTOS,
							'url_listar': evaluacion.URL_LISTAR,
							'url_editar': evaluacion.URL_EDITAR,
							'evaluacion_id': evaluacion.ID,
							'fecha': evaluacion.FECHA,
						} only %}
					{% endfor %}
				{% endif %}
				</ul>
				</li>
			</ul>
			{% endfor %}
		</div>
	</li>
    {% endfor %}
</ul>
{% else %}
	<div class="alert">
		{{"no_hay_datos.comisiones"|trans|capitalize}}
	</div>
{% endif %}
{% endblock %}

{% macro boton_crear(puede_crear) %}
    {% if puede_crear %}
	<button class='crear btn btn-mini pull-right'>{{ "crear_parcial"|trans|capitalize }}</button>
	{% else %}
	<button class='crear btn btn-mini pull-right' style='display:none;'>{{ "crear_parcial"|trans|capitalize }}</button>
    {% endif %}
{% endmacro %}
