{% extends "kernel/pagelet.twig" %}
{% block contenido %}

<h3>{{ 'lista_actas_abiertas'|trans|capitalize }}</h3>

{% if this.data.actas %}

    <table class="table table-striped table-bordered table-condensed" summary="tabla de actas abiertas, haga clic en la celda para ir">
	<thead>
	    <th id="acta" scope="col">{{ 'acta'|trans|capitalize }}</th>
	    <th id="materia" scope="col">{{ 'materia'|trans|capitalize }}</th>
	    <th id="comision" scope="col">{{ 'comision'|trans|capitalize }}</th>
	    <th id="anio" scope="col">{{ 'anio_academico'|trans|capitalize }}</th>
	    <th id="per_lec" scope="col">{{ 'periodo_lectivo'|trans|capitalize }}</th>
	</thead>
	
	<tbody>
	{% for acta in this.data.actas %}
	    <tr data-link='{{ acta.LINK }}' class='link-in-data'>
		<td headers="acta"><a href='{{ acta.LINK }}'>{{ acta.ACTA_REG }}</a></td>
		<td headers="materia">{{ acta.MATERIA_NOMBRE }}</td>
		<td headers="comision">{{ acta.COMISION_NOMBRE }}</td>
		<td headers="anio">{{ acta.ANIO_ACADEMICO }}</td>
		<td headers="per_lec">{{ acta.PERIODO_LECTIVO }}</td>
	    </tr>
	{% endfor %}
	</tbody>
    </table>

{% else %}
	<div role="alert" class="alert">{{ 'no_hay_actas'|trans|capitalize }}</div>
{% endif %}
{% endblock %}