{% extends "kernel/pagelet.twig" %}
{% block contenido %}
	
	 {#  Mensaje si se guardo con exito      #}
	 {% if (this.data.mensaje != '') %} 
		 <script>kernel.ui.show_mensaje('{{this.data.mensaje}}')</script>
	 {% endif %}

	 {#  Mensaje si hubo error al guardar      #}
	{% if (this.data.mensaje_error != '') %}
		<script>kernel.ui.show_mensaje('{{this.data.mensaje_error}}', {tipo: 'alert-error'})</script>
		<div role='alert' class="alert alert-error">{{this.data.mensaje_error}}</div>
	{% endif %}

    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"ponderacion_notas"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
    
    {% if(this.data.datos) %}
        <div>
            {% for materia in this.data.datos %}
                <div class="link-js" data-link="detalle_{{materia.MATERIA}}" aria-controls="detalle_{{materia.MATERIA}}">
                    <h3 class="titulo-materia"> {{ materia.MATERIA_NOMBRE }} ({{ materia.MATERIA }})
                        <span class="toggle icon-white icon-chevron-down" style="float: right; color: white"></span> 
                        <span style="float: right;font-size: 10px;">VER / EDITAR POR COMISION</span>
                    </h3>
				</div>
				{% set ponderaciones = materia.PONDERACIONES %}
                    <div>
						<form name="materia_seleccionada" id="materia_seleccionada_{{materia.MATERIA}}" 
								method="post" action="{{this.data.form_url_materia}}" onsubmit="return validar_datos(this)">

                            <input type="hidden" name="materia" value="{{materia.MATERIA}}">
                            <input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
                            <input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">
                            <table class="table table-striped table-condensed" tabindex="0">
                                <tr>
                                    <td scope="row" colspan="3">Ponderación para alumnos que rindan la instancia Integradora</td>
                                </tr>
                                <tr>
                                    <td><div>% en Parciales:</div>
										<input type="number" min="0" max="100" name="porc_parciales_P_{{materia.MATERIA}}" 
											id="porc_parciales_P_{{materia.MATERIA}}" 
											onchange="actualiza_porcentaje_con_integrador(this)" 
											value="{{ponderaciones.PORC_P_PARCIALES}}"
											{% if not(this.data.es_editable) %} readonly {% endif %}>
									</td>
									<td>% en Integrador: 
										<input type="number" min="0" max="100" name="porc_integrador_P_{{materia.MATERIA}}" 
											id="porc_integrador_P_{{materia.MATERIA}}" 
											onchange="actualiza_porcentaje_con_integrador(this)" 
											value="{{ponderaciones.PORC_P_INTEGRADOR}}" 
											{% if not(this.data.es_editable) %} readonly {% endif %}>
									</td>  
									<td>% en Trabajos: 
										<input type="number" min="0" max="100" name="porc_trabajos_P_{{materia.MATERIA}}" 
											id="porc_trabajos_P_{{materia.MATERIA}}" 
											readonly onchange="actualiza_porcentaje_con_integrador(this)" 
											value="{{ponderaciones.PORC_P_TRABAJOS}}">
									</td>                               
								</tr>
								<tr>
                                    <td scope="row" colspan="3">Ponderación para alumnos que no rindan instancia de Integrador</td>
                                </tr>
                                <tr>
                                    <td>% en Parciales (Prom. Directa) / Recup. Global: 
										<input type="number" min="0" max="100" name="porc_parciales_R_{{materia.MATERIA}}" 
											id="porc_parciales_R_{{materia.MATERIA}}" 
											onchange="actualiza_porcentaje_sin_integrador(this)" 
											value="{{ponderaciones.PORC_R_PARCIALES}}"
											{% if not(this.data.es_editable) %} readonly {% endif %}>
									</td>
									<td>% en Trabajos: 
										<input type="number" min="0" max="100" name="porc_trabajos_R_{{materia.MATERIA}}" 
											id="porc_trabajos_R_{{materia.MATERIA}}" 
											readonly onchange="actualiza_porcentaje_sin_integrador(this)" 
											value="{{ponderaciones.PORC_R_TRABAJOS}}">
									</td>                     
									<td></td>          
								</tr>
								{% if (this.data.es_editable) %}
									<tr>
										<td scope="row" colspan="2"></td>
										<td>
											<button class="btn btn-info btn-lg" type="submit" id="boton_guardar" style="float:right;font-size:12px;"
													title="Guardar y Aplicar a todas las comisiones.">
												Grabar</button>
										</td>
									</tr>
								{% endif %}
							</table>
                        </form>
                    </div>
            {% endfor %}
        </div>
    {% else %}
        <div role="alert" class="alert">
            {{"ponderacion_notas.filtro.sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}
