{% extends "kernel/pagelet.twig" %}
{% import "macro_tablas.twig" as tabla %}
{% block contenido %}
	{% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"tit_fecha_parcial"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
	
	{% if this.data.cuadro %}
        <div class="alert alert-info">{{'fecha_parcial.info_usuario'|trans|capitalize}}</div>
		{{ tabla.parcial(this.data.cuadro) }}
	{% else %}
		<div class="alert text-warning">{{'fecha_parcial.no_hay_datos'|trans|capitalize}}</div>
	{% endif %}
{% endblock %}