{% import _self as this %}
<td colspan="5">
    <table class='table table-condensed table-hover table-striped'>
        <thead>
        <tr>
            <th >{{''|trans|capitalize}}</th>
            <th class="span4">{{'fecha_parcial.eval_parcial'|trans|capitalize}}</th>
            <th class="span2">{{'fecha_parcial.fecha_parcial'|trans|capitalize}}</th>
            <th class="span3">{{'fecha_parcial.hora_inicio'|trans|capitalize}}</th>
            <th class="span4">{{'fecha_parcial.aula'|trans|capitalize}}</th>
            <th class="span5">{{'fecha_parcial.edificio'|trans|capitalize}}</th>
        </tr>
        </thead>
        <tbody>
            {% for parcial in comision.parciales %}
            <tr>
                <td>{{ '' }}</td>
                <td>{{ this.mostrar(parcial.EVAL_PARCIAL)}}</td>
                <td>{{ this.mostrar(parcial.FECHA_PARCIAL)}}</td>
                <td>{{ this.mostrar(parcial.HORA_INICIO)}}</td>
                <td>{{ this.mostrar(parcial.AULA) }}</td>
                <td>{{ this.mostrar(parcial.EDIFICIO) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</td>

{% macro mostrar(dato) %}
	{% if (dato) %}
		{{dato|raw}}
	{% else %}
		{{'fecha_parcial.sin_informacion'|trans |capitalize}}
	{% endif %}
{% endmacro %}