<html>
  <body class="body">
	<p>Desde la plataforma web de Guarani, se ha asentado una nueva observación para la solicitud de fechas de las evaluaciones parciales. </p>
	<ul>
	<li>Coordinador: {{ coordinador_nombre }} </li>
	<li>Mail: {{mail_coordinador}} </li>
	<li>Materia: {{materia_nombre}} ({{materia}})</li>
	<li>Fecha: {{ fecha }}</li>
	<li>Observaciones: <b>{{observaciones}}</b></li>
  </body>
  {# <p><i>Por favor, NO responda a este mensaje, es un envío automático.</i></p> #}
</html>
