{% extends "kernel/pagelet.twig" %}
{% block contenido %}

<div class="js-barra-herramientas" style="display: none;">
	<form id='preset_form' class="form-inline">
        <fieldset>
            <legend>Autocompletar</legend>
            <label class="acchide" for="preset_campo">Seleccione campo a completar</label>
            <select id="preset_campo" title='Campo para autocompletar'>
                <option value='fecha'>{{ "fecha"|trans|capitalize }}</option>
                <option value='asistencia'>{{ "asistencia"|trans|capitalize }}</option>
                <option value='nota' selected>{{ "nota"|trans|capitalize }}</option>
                <option value='condicion'>{{ "condicion"|trans|capitalize }}</option>
            </select>
            <!-- asistencia / nota -->
            <label class="hide acchide preset_label" id="lasist" for="autonota">Complete con porcentaje</label>
            <label class="acchide preset_label" id="lnota" for="autonota">Nota: de 0 a 10</label>
            <input id="autonota" class='preset_valor input-small' title='carga la nota' type='text' value='' /> 
            <!-- fecha -->
            <label class="hide acchide fecha preset_label" id="lfecha" for="autofecha">Formato: DD/MM/YYYY</label>
            <input id="autofecha" class='preset_valor input-small' {{ (this.es_mobile) ? 'readonly' : ''}}
            type='text' value='' style="display: none;" />  {# escondido por defecto #}
            <!-- condicion -->
            <label class="hide acchide condicion preset_label" id="lcondicion" for="autocondicion">--Seleccione--</label>
            <select id="autocondicion" class='preset_valor' style="display: none;">  {# escondido por defecto #}
                <option value=''>
                --
                </option>
                {% for condicion in this.data.condiciones %}
                    {% if condicion.COND_REGULARIDAD != 6 %}
                    <option value='{{ condicion.COND_REGULARIDAD }}'>
                    {{ condicion.DESCRIPCION }}
                    </option>
                    {% endif %}
                {% endfor %}
            </select>
            <label role="menucheckbox" for='preset_solo_vacio' class="checkbox">
                <input id='preset_solo_vacio' type="checkbox" checked="checked"/>{{ "solo_valores_vacios"|trans|capitalize }}
            </label>

            <button type="submit" class="btn btn-small"><span class="icon-edit"></span> {{ "completar"|trans|capitalize }}</button>
            <input type="reset" value="{{ "deshacer"|trans|capitalize }}" class="btn btn-small" id='preset_undo' disabled="disabled" />
        </fieldset>
	</form>
    <p class="autoerror" id="msj-autoerror">
    </p>
</div>
{% endblock %}