{% extends "kernel/pagelet.twig" %}
{% block contenido %}
    {% if (this.data.mensaje != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje}}')</script>
    {% endif %}    
    
    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"definicion_cursos"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
    
    {% if(this.data.datos) %}
        <div>
            {% for materia in this.data.datos %}
                <div class="link-js" data-link="detalle_{{materia.MATERIA}}" aria-controls="detalle_{{materia.MATERIA}}">
                    <h3 class="titulo-materia"> {{ materia.MATERIA_NOMBRE }} ({{ materia.MATERIA }})
                        <span class="toggle icon-white icon-chevron-down" style="float: right; color: white"></span> 
                        <span style="float: right;font-size: 10px;">Detalle de comisiones</span>
                    </h3>
                </div>
                    <div>
                        <form name="materia_seleccionada" id="materia_seleccionada_{{materia.MATERIA}}" method="post" action="{{this.data.form_url_materia}}" onsubmit="return validar_porcentaje(this)">
                            <input type="hidden" name="materia" value="{{materia.MATERIA}}">
                            <input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
                            <input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">
                            <table class="table table-striped table-condensed" tabindex="0">
                                <tr>
                                    <td scope="row" colspan="4">Ciclo: {{ materia.CICLO_TIPO }}</td>
                                </tr>
                                <tr>
                                    <td>{% if (materia.CICLO_TIPO == 'Fundamento') %}
                                                    % en Parciales/recup.: 
                                                {% else %}
                                                    % en Parciales: 
                                                {% endif %}
                                                <input type="number" min="0" max="100" name="porc_parciales_{{materia.MATERIA}}" id="porc_parciales_{{materia.MATERIA}}" onchange="actualiza_porcentaje(this)" value="{{materia.PORC_PARCIALES}}">
                                        </td>
                                        <td>% en Integrador: 
                                            <input type="number" min="0" max="100" name="porc_integrador_{{materia.MATERIA}}" id="porc_integrador_{{materia.MATERIA}}" onchange="actualiza_porcentaje(this)" value="{{materia.PORC_INTEGRADOR}}">
                                        </td>  
                                        <td>% en Trabajos: 
                                            <input type="number" min="0" max="100" name="porc_trabajos_{{materia.MATERIA}}" id="porc_trabajos_{{materia.MATERIA}}" readonly onchange="actualiza_porcentaje(this)" value="{{materia.PORC_TRABAJOS}}">
                                        </td>                               
                                        <td><button class="btn btn-info btn-lg" type="submit" id="boton_guardar_gral" style="align-self:center;font-size:12px;">Guardar</button>
                                            <p style="font-size:12px;">Aplicar a todas las comisiones promocionables</p>
                                        </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                {% if (materia.comisiones) %}
                    <div id="detalle_{{materia.MATERIA}}" class="detalle" aria-live="assertive" style="display:none">
                        {% for comision in materia.comisiones %}
                            <div>
                            
                                <form name="comision_seleccionada_{{comision.COMISION}}" id="comision_seleccionada_{{comision.COMISION}}" method="post" action="{{this.data.form_url_comision}}" onsubmit="return validar_porcentaje(this)">
                                <input type="hidden" name="comision" value="{{comision.COMISION}}">
                                <input type="hidden" name="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
                                <input type="hidden" name="periodo_hash" value="{{this.data.periodo_hash}}">
                                
                                    <h4 class="comision">Comisión: {{comision.COMISION_NOMBRE}} ({{comision.COMISION}})</h4>
                                    <ul>
                                        <li>Período: {{comision.PERIODO_LECTIVO}}</li>
                                        <li>Escala de notas: {{comision.ESCALA_NOTAS_NOMBRE}}</li>
                                        <li>{% if (materia.CICLO_TIPO == 'Fundamento') %}
                                                Porcentaje en Parciales/recuperatorio: 
                                            {% else %}
                                                Porcentaje en Parciales: 
                                            {% endif %}
                                            <input type="number" min="0" max="100" name="porc_parciales_{{comision.COMISION}}" id="porc_parciales_{{comision.COMISION}}" onchange="actualiza_porcentaje(this)" value="{{comision.PORC_PARCIALES}}">
                                        </li>
                                        <li>Porcentaje en Integrador: 
                                            <input type="number" min="0" max="100" name="porc_integrador_{{comision.COMISION}}" id="porc_integrador_{{comision.COMISION}}" onchange="actualiza_porcentaje(this)" value="{{comision.PORC_INTEGRADOR}}"></li>
                                        </li>
                                        <li>Porcentaje en Trabajos: 
                                            <input type="number" min="0" max="100" name="porc_trabajos_{{comision.COMISION}}" id="porc_trabajos_{{comision.COMISION}}" readonly value="{{comision.PORC_TRABAJOS}}">
                                        </li>
                                    </ul>

                                    <button class="btn btn-info btn-lg" type="submit" id="boton_guardar" style="align-self:center;">Guardar</button>
                                </form>

                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% else %}
        <div role="alert" class="alert">
            {{"definicion_cursos.filtro.sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}