{% extends "kernel/pagelet.twig" %}
{% block contenido %}
    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"recalcular_calidad_inscr"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
	
	{# Mensaje si se guardo con exito #}
    {% if (this.data.mensaje != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje}}')</script>
    {% endif %} 
	
	{#  Mensaje si hubo error al guardar      #}
    {% if (this.data.mensaje_error != '') %}
        <script>kernel.ui.show_mensaje('{{this.data.mensaje_error}}', {tipo: 'alert-error'})</script>
        <div role='alert' class="alert alert-error">{{this.data.mensaje_error}}</div>
    {% endif %}

	<div role='alert' class="alert">
		<p>Sólo aplica a alumnos inscriptos a comisiones cuya escala de notas sea regulares y promocionales (4), pertenecientes a materias de planes vigentes. 
			Esta operación permite recalcular la condición a la que pueden aspirar en la cursada, luego de la fecha límite a verificar si han cumplido con las correlativas aprobadas.
		</p>
	</div>

	{% if(this.data.alumnos) %}
		
		<div role='alert' class="alert">
			<p>Fecha límite considerada: {% if (this.data.fecha_limite) %} {{this.data.fecha_limite|date("d/m/Y") }} {% else %} <em>No se recuperó ninguna fecha límite para control de correlativas cumplidas. Comuníquese con las Dirección de Docentes. </em> {% endif %} </p>
			<p><span class="puede_cambiar">Verde: </span> Se puede modificar sin problemas la calidad de inscirpción.</p>
			<p><span class="puede_cambiar_con_advertencia">Amarillo: </span> AVISO! La modificación implica cambiar la calidad de inscripción de un alumno que tiene nota cargada en acta abierta. </p>
			<p><span class="no_puede_cambiar">Rojo: </span> No puede modificar la calidad de inscirpción del alumno dado que el acta PROMO de la comisión está cerrada. </p>
		</div>
		<form name="calidad_alumnos" /> 
		<!-- method="post" action="{{this.data.form_url_grabar}}"> -->
			<input type="hidden" id="anio_academico_hash" value="{{this.data.anio_academico_hash}}">
			<input type="hidden" id="periodo_hash" value="{{this.data.periodo_hash}}">
			<table class="table table-striped table-bordered table-condensed" summary="Tabla de calidad de alumnos">
				<thead>
					<tr>
						<th>#</th>
						<th>Legajo</th>
						<th>Alumno</th>
						<th>Carrera</th>
						<th>Materia</th>
						<th>Comisión</th>
						<th>Calidad de inscripción</th>
						<th>Calidad a asignar</th>
						<th>Observaciones</th>
						<th></th>
					</tr> 
				</thead>
				<tbody>
					{% set i = 1 %}
					{% for alumno in this.data.alumnos %}
						<tr>
							<td> {{i}}</td>
							<td> {{ alumno.LEGAJO }} </td>
							<td> {{ alumno.ALUMNO }} </td>
							<td> {{ alumno.CARRERA_NOMBRE }} </td>
							<td> {{ alumno.MATERIA_NOMBRE }} </td>
							<td> {{ alumno.COMISION_NOMBRE }} </td>
							<td> {{ alumno.CALIDAD_INSC }} </td>
							<td> {% if alumno.CALIDAD_INSC == 'R' %}  {# Si la calidad buscada es R #}
									{% if (alumno.CALIDAD_ASIGNAR == 'P')%} 
										{% if ( alumno.MODIFICABLE == 1) %} 
											<p class="puede_cambiar"> {{ alumno.CALIDAD_ASIGNAR }} </p>
										{% else %}
											{% if ( alumno.MODIFICABLE == 2) %} 
												<p class="puede_cambiar_con_advertencia"> {{ alumno.CALIDAD_ASIGNAR }} </p>
											{% else %}
												<p class="no_puede_cambiar"> {{ alumno.CALIDAD_ASIGNAR }} </p>
											{% endif %}	
										{% endif %}
									{% else %}
										{{ alumno.CALIDAD_ASIGNAR }}
									{% endif %}  
								{% else %}	{# Si la calidad buscada es P #}
									{% if (alumno.CALIDAD_ASIGNAR == 'R')%} 
										{% if ( alumno.MODIFICABLE == 1) %} 
											<p class="puede_cambiar"> {{ alumno.CALIDAD_ASIGNAR }} </p>
										{% else %}
											{% if ( alumno.MODIFICABLE == 2) %} 
												<p class="puede_cambiar_con_advertencia"> {{ alumno.CALIDAD_ASIGNAR }} </p>
											{% else %}
												<p class="no_puede_cambiar"> {{ alumno.CALIDAD_ASIGNAR }} </p>
											{% endif %}	
										{% endif %}
									{% else %}
										{{ alumno.CALIDAD_ASIGNAR }}
									{% endif %}  
								{% endif %}
								
								</td>
							<td> {{alumno.OBSERV}} </td>
							<td> 
								<input type='checkbox' id='checkbox_{{ alumno.LEGAJO }}_{{ alumno.CARRERA }}_{{ alumno.MATERIA }}_{{ alumno.COMISION }}_{{ alumno.CALIDAD_ASIGNAR }}'
										{{ (alumno.MODIFICABLE) ? 'checked' : 'disabled' }} />
							</td>
						</tr>
						{% set i = i+1 %}
					{% endfor %}
					<tr>
						<td scope="row" colspan="10">
							<div style="text-align: right">
								{% if (this.data.fecha_limite) %} 
									<button class="btn btn-info btn-lg" id="btn_guardar">Guardar</button> 
								{% endif %}
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</form>

    {% else %}
        <div role="alert" class="alert">
            {{"sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}
