{% extends "kernel/pagelet.twig" %}
{% block contenido %}

{% if this.data.clase_detalle %}
    
    <input type="hidden" id="alumnos" value="{{this.data.datos_json}}">
        
    <form class='form-renglones' action='{{ this.data.url_guardar }}' method='post'>
	<input type="hidden" name="clase[COMISIONES]" value="{{ this.data.comisiones}}">
	<input type="hidden" name="clase[FECHA]" value="{{ this.data.fecha }}">
	<input type="hidden" name="clase[HS_COMIENZO_CLASE]" value="{{this.data.hs_comienzo_clase}}">    
	<input type="hidden" name="clase[FILAS]" value="{{ this.data.filas }}">
        
	{% for alumno in this.data.clase_detalle %}
            {% set asistio = (alumno.CANT_INASIST == 0) %}
            {% set motivo_alu = alumno.MOTIVO_JUSTIFIC %} 
          
            <div class='box-asistencia-alumno' id='{{ alumno.__ID__ }}'> 
                <input type="hidden" name="alumnos[{{ alumno.__ID__ }}][PRESENTE]" value="off">
                <div class='box-asistencia' id='click_{{ alumno.__ID__ }}' onclick="click_cuadro(this)">
                    <label class="checkbox check-asistencia" for="alumnos[{{ alumno.__ID__ }}][PRESENTE]" >
                        <input type='checkbox' id='alumnos[{{ alumno.__ID__ }}][PRESENTE]'
                                    name='alumnos[{{ alumno.__ID__ }}][PRESENTE]'  
                                    {#class='check-asistencia'#}
                                    {{ (asistio) ? 'checked' : '' }}
                    />Asisti&oacute;</label>

                    <div class='foto pull-left'><img src='{{ alumno.URL_IMAGEN_MEDIANA }}' alt="Imagen ficha"/></div>
                    <div class='info pull-right'>
                            <div>{{ alumno.NOMBRE }}</div>
                            <div>{{ alumno.LEGAJO }}</div>
                            <div>{{ alumno.COMISION_NOMBRE }} ({{ alumno.COMISION }})</div>
                            <div>{{_self.get_calidad_insc_descripcion(alumno.CALIDAD_INSC)}}</div>
                    </div>
                </div>

                    <div class='box-justific' id='select_{{ alumno.__ID__ }}'>
                        <select id='alumnos[{{ alumno.__ID__ }}][JUSTIFIC]' name='alumnos[{{ alumno.__ID__ }}][JUSTIFIC]' onchange="actualizar_background(this, '{{ alumno.__ID__ }}')" >
                        <option value="-1"> </option>
                        {% for motivo in this.data.motivos_inasist %}
                            <option value="{{motivo.MOTIVO}}" {{ (motivo_alu == motivo.MOTIVO) ? 'selected' : ''}}>Ausente: {{motivo.DESCRIPCION}}</option>
                        {% endfor %}
                    </select>
                </div>

            </div>
	{% endfor %}
	<input id='js-guardar-asistencia' type='submit' style='position:absolute' value='{{"guardar"|trans|capitalize}}' class="hide btn btn-info btn-small" />
    </form>
{% else %}
    <div class="alert">{{"no_hay_renglones"|trans|capitalize}}</div>
{% endif %}

{% endblock %}
    
{% macro get_calidad_insc_descripcion(calidad_insc) %}
{% if calidad_insc == 'P' %}{{'Promoci&oacute;n'}}{% endif %}
{% if calidad_insc == 'R' %}{{'Regular'}}{% endif %}
{% if calidad_insc == 'L' %}{{'Libre'}}{% endif %}
{% endmacro %}
