{% extends "kernel/pagelet.twig" %}
{% block contenido %}
   
    {% set vista_form = this.get_vista_form() %}
	{{ vista_form.render_encabezado() | raw }}
	<div class="titulo_operacion">
		<h2 class="clearfix">
			<span class="pull-left">
				{{"detalle_cursos"|trans|capitalize}}
			</span>
			<span class="pull-right">
			{{ vista_form.render_acciones() | raw }}
			</span>
		</h2>
	</div>
	{{ vista_form.render_cuerpo() | raw }}
	{{ vista_form.render_cierre() | raw }}
    
    {% if(this.data.datos) %}
        {% for materia in this.data.datos %}
            <div> <h3 class="titulo-materia"> {{ materia.MATERIA_NOMBRE }} ({{ materia.MATERIA }}) </h3></div>
            <div> Ciclo: {{ materia.ciclo.ciclo_nombre }}</div>
            {% if (materia.comisiones) %}
                {% for comision in materia.comisiones %}
                    <h4 class="comision">Comisión: {{comision.COMISION_NOMBRE}} ({{comision.COMISION}})</h4>
                    <ul>
                        <li>Período: {{comision.PERIODO_LECTIVO}}</li>
                        <li>Escala de notas: {{comision.ESCALA_NOTAS_NOMBRE}}</li>
                        {% if (comision.TURNO) %}
                            <li>Turno: {{comision.TURNO}}</li>
                        {% endif %}
                        {% if (comision.CARRERA) %}
                            <li>Carrera: {{comision.CARRERA}}</li>
                        {% endif %}
                        <li>{% if (materia.ciclo.es_ciclo_fundamento) %}
                                Porcentaje en Parciales/recuperatorio: 
                            {% else %}
                                Porcentaje en Parciales: 
                            {% endif %}
                            {{comision.PORC_PARCIALES}} %
                        </li>
                        <li>Porcentaje en Integrador: {{comision.PORC_INTEGRADOR}} % </li>
                        <li>Porcentaje en Trabajos: {{comision.PORC_TRABAJOS}} % </li>
                    </ul>
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% else %}
        <div role="alert" class="alert">
            {{"detalle_cursos.sin_resultados"|trans|capitalize}}
        </div>
    {% endif %}
{% endblock %}